{% extends "pages/base.html" %}
{% block title %}{{ form.instance.pk|yesno:"Edit User,Add User" }}{% endblock %}

{% block content %}
<div class="card p-4">
    <h4 class="mb-4">{{ form.instance.pk|yesno:"Edit User,Add User" }}</h4>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success">Save</button>
        <a href="{% url 'user_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
